.tabs-container {
  margin-bottom: 50px;
}

.content {
  background: white;
  width: 100%;
  height: 100%;
  display: none;
  margin-top: 50px;
  border: 2px solid #dbe2ed;
  border-radius: 10px;
  padding: 25px 25px 25px 25px;
}

@media screen and (max-width: 765px) {
  .content-tabs {
    margin-top: 100px;
  }
}

@media screen and (max-width: 527px) {
  .content-tabs {
    margin-top: 215px;
  }
}
