.block-tabs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 1123px) {
  .block-tabs {
    align-items: center;
    height: 400px;
  }
}

@media screen and (max-width: 639px) {
  .block-tabs {
    justify-content: center;
    height: 535px;
  }
}

.tab-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 815px) {
  .tab-container {
    flex-basis: 308px;
    justify-content: normal;
  }
}
.tab-text {
  color: #dbe2ed;
  font-size: 24px;
  font-weight: 700;
  margin-left: 15px;
}

.active {
  color: #6b7085;
}
.tabs {
  padding: 35px;
  cursor: pointer;
  border: 2px solid #dbe2ed;
  background: white;
  border-radius: 10px;
}

.active-tabs {
  background: #9c5d9a;
  border-radius: 10px;
  border: none;
}
